.hero-img {
  background-image: url("../../assets/images/hero_img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  filter: grayscale(100%);
  transition: 0.3s filter ease-in;
}

.second-hero-img {
  background-image: url("../../assets/images/man.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  transition: 0.3s filter ease-in;
}
