$spaceamounts: (
  auto,
  1,
  2,
  3,
  4,
  5,
  7,
  9,
  10,
  12,
  14,
  16,
  18,
  20,
  25,
  30,
  40,
  45,
  50,
  60,
  70,
  100
);

// margin
@each $spaceamount in $spaceamounts {
  .has-m-#{$spaceamount} {
    margin: #{$spaceamount}em;
  }
}
@each $spaceamount in $spaceamounts {
  .has-mt-#{$spaceamount} {
    margin-top: #{$spaceamount}em;
  }
}
@each $spaceamount in $spaceamounts {
  .has-mr-#{$spaceamount} {
    margin-right: #{$spaceamount}em;
  }
}
@each $spaceamount in $spaceamounts {
  .has-mb-#{$spaceamount} {
    margin-bottom: #{$spaceamount}em;
  }
}
@each $spaceamount in $spaceamounts {
  .has-ml-#{$spaceamount} {
    margin-left: #{$spaceamount}em;
  }
}

// padding
@each $spaceamount in $spaceamounts {
  .has-p-#{$spaceamount} {
    padding: #{$spaceamount}em;
  }
}
@each $spaceamount in $spaceamounts {
  .has-pt-#{$spaceamount} {
    padding-top: #{$spaceamount}em;
  }
}
@each $spaceamount in $spaceamounts {
  .has-pr-#{$spaceamount} {
    padding-right: #{$spaceamount}em;
  }
}
@each $spaceamount in $spaceamounts {
  .has-pb-#{$spaceamount} {
    padding-bottom: #{$spaceamount}em;
  }
}
@each $spaceamount in $spaceamounts {
  .has-pl-#{$spaceamount} {
    padding-left: #{$spaceamount}em;
  }
}

// height

@each $spaceamount in $spaceamounts {
  .h-#{$spaceamount} {
    min-height: #{$spaceamount}em;
  }
}

// width
@each $spaceamount in $spaceamounts {
  .w-#{$spaceamount} {
    width: #{$spaceamount}em;
  }
}
